__pycache__/
evaluation/
data/musicnet*/
data/musdb18/
data/maestro/
data/urmp-test/
data/urmp-rec/
save_model/
output/
dataset/
output/
reproduce_dataset/
results/
*.pyc
src/analyze/analyze_experimental_results.py
src/analyze/draw_3D_hQuery.py
src/analyze/draw_dataset_distribution.py
src/analyze/draw_epoch_curve.py
src/analyze/draw_hQuery.py
src/analyze/draw_instr_results.py
src/analyze/draw_spec.py
src/analyze/gradient_colors.py
